{% extends 'base/base.html'%}
   {% block content %}


     <h3 class="to-animate">Bienvenides a nuestra pequeña sala de cine Nippon.</h3>
     <h3 class="to-animate">Verán transitar la muerte, la traición y la fatalidad por la senda del guerrero.
        Sin embargo también encontraremos la amistad, el amor, el compromiso y por sobre todo el honor.
        Dejémonos llevar de la mano por Geishas, Samuráis, Ninjas y Yakusas dentro de éstas,
        a veces muy intrincadas, historias.</h3>
  {% endblock %}
