{% extends 'base/sala.html'%}
{% block content %}




           <h2 >CHUSHINGURA</h2>
            <div class="row">
             <div class="col-md-8 col-md-offset-2 subtext to-animate">
               <p>Un gran clásico, más conocido por el título de: <strong>47 Ronin</strong><br>
               En esta ocación en tres distintos registros fílmicos de una calidad variopinta en cuanto a la resolución de imagen se refiere.
               Pero, manteniendo sin embargo, intactas sus cualidades arísticas.</p>
             </div>







     <div class="col-md-12 text-center">
    <h3>CHUSHINGURA 1941.</h3>
       <iframe width="560" height="315" src="https://www.youtube.com/embed/KiCWrDMZZFk" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
         <p>La mejor de las tres en cuanto a calidad de imagen. Quizás ligeramente larga,<br>
         pero ideal para un domingo de lluvia,  o para verla en 3 partes. Subtítulos en inglés. </p>
   </div>





     <div class="col-md-12 text-center">
     <h3>CHUSHINGURA 1938.</h3>
       <iframe width="560" height="315" src="https://www.youtube.com/embed/qARAaATDyCM" frameborder="2" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>En una heróica resolución de 360p, y sin innecesarios subtítulos.<br>
         Ya podemos reconocer el devenir de nuestros 47 héroes y la impronta del malvado Señor Kira, <br>el honor mancillado de nuestro querido Señor Asano
         y la irrefrenable astucia vengativa de Oishi, su Consejero.<br>
        Éste registro nos permite ver además, como es la evolución de un gran film, basado en una gran historia.</p>
    </div>




     <div class="col-md-12 text-center">
      <h3>CHUSHINGURA 1928.</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/dBf3ADtavpc" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>Finalmente, para mí, la mejor de las tres. El origen. El génesis fílmico.<br>
         Encantadora y en una aceptable calidad. Nótese además, el audio superpuesto donde la voz <br>increíblemente maleable y expresiva
         del doblajista da vida a todos los personajes. <br> Súmese el irresistible encanto del tembleque, cual si la viese viajando en colectivo.</p>
     </div>
   </div>

{% endblock %}
